faster-whisper
sounddevice
scipy
pydub
numpy
python-dotenv
openai
groq
elevenlabs
silero-vad
torch
pygame
webrtcvad-wheels ; sys_platform == "win32"
pyttsx3

fastapi
uvicorn[standard]
python-multipart
websockets